<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Filtro marcas</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      
      <ion-item (click)="getJsonDucati()" >
        <img id="icon" src="assets/ducati.jpg" style = "width:3em">
        Ducati
      </ion-item>
      <ion-item (click)="getJsonYamaha()" >
        <img id="icon" src="assets/yamaha.png" style = "width: 3em;">
        Yamaha
      </ion-item>
      <ion-item (click)="getJsonHonda()" >
        <img id="icon" src="assets/honda.png" style = "width: 3em;">
        Honda
      </ion-item>
      <ion-item (click)="getJson()">Todas</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main"></ion-router-outlet>

<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mis Motos</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <ion-fab slot="fixed" style="margin-top: 160%; margin-left: 70%;">
    <ion-fab-button color="primary" (click)="addMoto()"><p style = "font-size: 3em">+</p></ion-fab-button>
  </ion-fab>

  <ion-list >
    
    <ion-item *ngFor = "let moto of motos" (click)="detalle(moto)">
      <div>
        <img _ngcontent-jkx-c1 style="width: 3em;margin-right: 1em;" src={{moto.foto}}>

        {{moto.marca}} {{moto.modelo}}

      </div>
      
    </ion-item>

  </ion-list>

</ion-content>
